<p id="notice"><%= notice %></p>

<p>
  <strong>Composite:</strong>
  <%= @submission.composite_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user_id %>
</p>

<%= link_to 'Edit', edit_showdown_submission_path(@showdown, @submission) %> |
<%= link_to 'Back', showdown_path(@showdown) %>
