<p id="notice"><%= notice %></p>

<div class="submission col-md-12">
  <div class="row submission-user">
    <h4><strong>Submitted By:</strong></h4><strong> <%= @submission.user.email %></strong>
  </div>
  <div class="row submission-proof">
    <img width="400" height="400" src=<%="http://www.customink.com/designs/proofs/#{@submission.composite_id}/front.jpg"%>>
    <img width="400" height="400" src=<%="http://www.customink.com/designs/proofs/#{@submission.composite_id}/back.jpg"%>> 
  </div>
  <%= link_to 'Back', showdown_path(@showdown) %>
</div>
