
<%= sb_form_for @showdown, html: {class:"sb-Form"} do |u| %>
  <% if @showdown.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@showdown.errors.count, "error") %> prohibited this showdown from being saved:</h2>

      <ul>
      <% @showdown.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="sb-Form-group">
    <%= u.label :theme %><br>
    <%= u.text_field :theme %>
  </div>
  <div class="sb-Form-group">
    <%= u.label :description %><br>
    <%= u.text_area :description %>
  </div>
  <div class="sb-Form-group">
    <%= u.label :end_date %><br>
    <%= u.date_select :end_date %>
  </div>
  <div class="sb-Form-group sb-Form-group--buttons">
    <%= u.submit %>
  </div>

<% end %>
