<p id="notice"><%= notice %></p>

<h1>Listing Showdowns</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Winning submission</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @showdowns.each do |showdown| %>
      <tr>
        <td><%= showdown.topic %></td>
        <td><%= showdown.winning_submission %></td>
        <td><%= showdown.end_date %></td>
        <td><%= link_to 'Show', showdown %></td>
        <td><%= link_to 'Edit', edit_showdown_path(showdown) %></td>
        <td><%= link_to 'Destroy', showdown, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Showdown', new_showdown_path %>
