<div class="showdown row">
  <h1>The <em><%= @showdown.theme %></em> Showdown</h1>

  <h3> <%= @showdown.description %></h3>

  <h3><strong>Voting Ends On:</strong> <%= @showdown.end_date %> </h3>

  <span class="showdown-actions">
    <%= link_to 'Submit Proof', new_showdown_submission_path(@showdown), class: 'action btn btn-lg btn-primary', role: 'button'  %>
  </span>
</div>
<div class='current-submissions row'>
  <% unless @showdown.submissions.empty? %> <h3>Current Submissions</h3> <% end %>
  <% @showdown.submissions.each do |submission| %>
    <div class="submission col-md-4">
      <div class="row submission-user">
        <h4>Submitted By:</h4> <%= submission.user.email %>
        <h4>Votes:</h4><%= submission.votes.count %>
      </div>
      <div class="row submission-proof">
        <img width="170" height="170" src=<%= get_front_proof(submission.composite_id) %>>
        <img width="170" height="170" src=<%= get_back_proof(submission.composite_id) %>>
      </div>
      <div class="row submission-actions">
        <% unless @has_voted %>
          <%= link_to 'Vote', votes_path(submission_id: submission.id, showdown_id: @showdown.id), class: 'btn btn-primary btn-lg col-md-3', role: 'button', method: :post %>
          <% #=link_to 'View', showdown_submission_path(@showdown, submission), class: 'btn btn-success btn-lg col-md-3', role: 'button' %>
          <% #=link_to 'Remove', showdown_submission_path(@showdown, submission), class: 'btn btn-danger btn-lg col-md-3', role: 'button', method: :delete, data: {confirm: 'Are you super duper sure?'} %>

        <% else %>
          You have already voted!
        <% end %>

      </div>
    </div>
  <% end %>
</div>
