<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @showdown.theme %>
</p>

<p>
  <strong>End date:</strong>
  <%= @showdown.end_date %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @showdown.user.email %>
</p>

<h3>Current Submissions</h3>


<%= link_to 'Edit', edit_showdown_path(@showdown) %> |
<%= link_to 'Back', showdowns_path %>
