<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @showdown.theme %>
</p>

<p>
  <strong>End date:</strong>
  <%= @showdown.end_date %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @showdown.user.email %>
</p>

<%= link_to 'Edit', edit_showdown_path(@showdown) %> |
<%= link_to 'Back', showdowns_path %> |
<%= link_to 'Submit Proof', new_showdown_submission_path(@showdown) %>

<h3>Current Submissions</h3>
<%= @showdown.submissions.each do |submission| %>
  <%= submission.user.email %>
<% end %>




